<div class="container__home" *ngIf="estadoSelected">
  <div class="home">

    <div class="home__content">
      <h1>Estado: {{ estadoSelected.nome }}</h1>
      <h2>População: {{ estadoSelected.populacao | number:'1.0':'pt-BR'}}</h2>
      <h2>Custo: {{ dolar2Real() | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</h2>
      <div class="select">
        <!-- <div class="form-item__icon" [inlineSVG]="formIcons.orderPaymentMethod"></div> -->
        <label class="select__label"> Selecione o estado:</label>
        <select class="select__input" name="estado" id="estado" [(ngModel)]="nomeOfState"
          (change)="selectEstado(undefined)">
          <option *ngFor="let option of options" [value]="option.nome">
            {{ option.nome }}
          </option>
        </select>
      </div>
      <button class="btn btn--inserir">
        <a [href]="estadoSelected.uf?.toLowerCase() +'#insert'" (click)="newCidade()">Inserir nova cidade</a>
      </button>
      <button class="btn">
        <a [href]="estadoSelected.uf?.toLowerCase()+'#insertfile'" (click)="newCidade()">Inserir por arquivo</a>
      </button>
    </div>

    <img [src]="url" />
  </div>

  <app-cidades [uf]="estadoSelected.uf || ''"></app-cidades>

  <app-popup-home *ngIf="!closePopUp" [data]="estadoSelected"></app-popup-home>
  <app-popup-file *ngIf="!closePopUp" [data]="estadoSelected"></app-popup-file>
</div>